
.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  height: 844px;
  position: relative;
}
.frame-1__blankscreen {
  width: 390px;
  height: 844px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.frame-1__datetwocomponent {
  width: 72px;
  height: 22px;
  position: absolute;
  left: 174px;
  top: 205px;
}
.frame-1__datetwotext {
  color: #898989;
  text-align: center;
  font-family: "RobotoFlex-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-1__numbertwocomponent {
  width: 17px;
  height: 22px;
  position: absolute;
  left: 158px;
  top: 205px;
}
.frame-1__numbertwotext {
  color: #898989;
  text-align: center;
  font-family: "RobotoFlex-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-1__dateonecomponent {
  width: 90px;
  height: 22px;
  position: absolute;
  left: 46px;
  top: 180px;
}
.frame-1__dateonetext {
  color: #000000;
  text-align: center;
  font-family: "RobotoFlex-Bold", sans-serif;
  font-size: 21px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-1__numberonecomponent {
  width: 25px;
  height: 22px;
  position: absolute;
  left: 17px;
  top: 180px;
}
.frame-1__nomberonetext {
  color: #000000;
  text-align: center;
  font-family: "RobotoFlex-Bold", sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-1__stationtwocomponent {
  width: 130px;
  height: 22px;
  position: absolute;
  left: 17px;
  top: 142px;
}
.frame-1__stationtwotext {
  color: #000000;
  text-align: center;
  font-family: "RobotoFlex-Regular", sans-serif;
  font-size: 23px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  right: -20.77%;
  left: -21.54%;
  width: 142.31%;
  bottom: -13.64%;
  top: 13.64%;
  height: 100%;
}
.frame-1__stationonecomponent {
  width: 324px;
  height: 22px;
  position: absolute;
  left: 13px;
  top: 117px;
}
.frame-1__stationonetext {
  color: #000000;
  text-align: center;
  font-family: "RobotoFlex-Regular", sans-serif;
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  right: 26.85%;
  left: -3.4%;
  width: 76.54%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-1__pricecomponent {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 12px;
  top: 716px;
}
.frame-1__pricetext {
  color: #000000;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-1__qrcontainercomponent {
  width: 356px;
  height: 140px;
  position: absolute;
  left: 18px;
  top: 247px;
}
.frame-1__qr-container {
  background: rgba(217, 217, 217, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.frame-1__drugcontainercomponent {
  width: 73px;
  height: 56px;
  position: absolute;
  left: 160px;
  top: 761px;
}
.frame-1__drugcontainertext {
  background: rgba(217, 217, 217, 0);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}



/* Стили для полей ввода */
.frame-20__input-area-kuda,
.frame-20__input-area-otkuda,
.frame-20__input-area-price {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #cccccc;
  border-radius: 8px;
}

/* Плейсхолдеры */
::placeholder {
  color: #666666;
  font-style: italic;
}

/* Фокус на поле */
input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

/* Стили для обоих экранов */
.frame-20__secret-drug-area,
.frame-1__drug-container {
  position: fixed;
  width: 50px;
  height: 10%;
  right: 0;
  top: 0;
  background: green;
  z-index: 9999;
  cursor: grab;
}

/* Для мобильных */
@media (hover: none) {
  .frame-20__secret-drug-area,
  .frame-1__drug-container {
    width: 50px;
  }
}

.frame-20__annotation-2 {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}


..body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}










.frame-2,
.frame-2 * {
  box-sizing: border-box;
}
.frame-2 {
  height: 844px;
  position: relative;
}
.frame-2__buttoncomponent {
  background: #8e8891;
  border-radius: 22px;
  padding: 11px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 43px;
  position: absolute;
  left: 166px;
  top: 455px;
  box-shadow: 0px 4px 2.3px 0px rgba(0, 0, 0, 0.25);
}
.frame-2__div {
  color: #ffffff;
  text-align: center;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2__areavokzalcomponent {
  width: 130px;
  height: 29.35px;
  position: absolute;
  left: 244px;
  top: 393px;
}
.frame-2__areavokzal {
  background: #e6e0e9;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: inset 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
.frame-2__switch-4-component {
  background: #b5b5ba;
  border-radius: 100px;
  width: 51px;
  height: 31px;
  position: absolute;
  left: 163px;
  top: 391px;
  overflow: hidden;
}
.frame-2__knob {
  background: #ffffff;
  border-radius: 100px;
  width: 27px;
  height: 87.1%;
  position: absolute;
  left: 2px;
  bottom: 6.45%;
  top: 6.45%;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06),
    0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.frame-2__areasvetlayatemacomponent {
  width: 130px;
  height: 29.35px;
  position: absolute;
  left: 244px;
  top: 353px;
}
.frame-2__areasvetlayatema {
  background: #e6e0e9;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: inset 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
.frame-2__svetlayatemacomponent {
  width: 110px;
  height: 24px;
  position: absolute;
  left: 254px;
  top: 355px;
}
.frame-2__svetlayatematext {
  color: #7e7e7e;
  text-align: center;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2__switch-3-component {
  background: #b5b5ba;
  border-radius: 100px;
  width: 51px;
  height: 31px;
  position: absolute;
  left: 164px;
  top: 351px;
  overflow: hidden;
}
.frame-2__arealastochkacomponent {
  width: 130px;
  height: 29.35px;
  position: absolute;
  left: 244px;
  top: 309px;
}
.frame-2__arealastochka {
  background: #e6e0e9;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: inset 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
.frame-2__lastochkacomponent {
  width: 77px;
  height: 24px;
  position: absolute;
  left: 270px;
  top: 312px;
}
.frame-2__lastochkatext {
  color: #7e7e7e;
  text-align: center;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2__switch-2-component {
  background: #b5b5ba;
  border-radius: 100px;
  width: 51px;
  height: 31px;
  position: absolute;
  left: 164px;
  top: 307px;
  overflow: hidden;
}
.frame-2__areatudaobratnocomponent {
  width: 130px;
  height: 29.35px;
  position: absolute;
  left: 244px;
  top: 267px;
}
.frame-2__areatudaobratno {
  background: #e6e0e9;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: inset 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
.frame-2__tudaobratnocomponent {
  width: 119px;
  height: 14.67px;
  position: absolute;
  left: 249px;
  top: 273px;
}
.frame-2__tudaobratnotext {
  color: #7e7e7e;
  text-align: center;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2__switch-1-component {
  background: #b5b5ba;
  border-radius: 100px;
  width: 51px;
  height: 31px;
  position: absolute;
  left: 164px;
  top: 265px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-2__areatsenacomponent {
  width: 208px;
  height: 35px;
  position: absolute;
  left: 166px;
  top: 216px;
}
.frame-2__areatsena {
  background: #d9d9d9;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 2.5px 0px rgba(0, 0, 0, 0.25);
}
.frame-2__tsenacomponent {
  width: 156px;
  height: 24px;
  position: absolute;
  left: 173px;
  top: 221px;
}
.frame-2__tsenatext {
  color: #7e7e7e;
  text-align: center;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tsenatext-span {
  color: #7e7e7e;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.tsenatext-span2 {
  color: #7e7e7e;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.frame-2__areaotkudacomponent {
  width: 208px;
  height: 35px;
  position: absolute;
  left: 166px;
  top: 167px;
}
.frame-2__areaotkuda {
  background: #d9d9d9;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
.frame-2__otkudacomponent {
  width: 62px;
  height: 24px;
  position: absolute;
  left: 173px;
  top: 172px;
}
.frame-2__otkudatext {
  color: #7e7e7e;
  text-align: center;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2__areakudacomponent {
  width: 208px;
  height: 35px;
  position: absolute;
  left: 166px;
  top: 118px;
}
.frame-2__areakuda {
  background: #d9d9d9;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
.frame-2__kudacomponent {
  width: 42px;
  height: 24px;
  position: absolute;
  left: 173px;
  top: 124px;
}
.frame-2__kudatext {
  color: #7e7e7e;
  text-align: center;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2__barscomponent {
  width: 390px;
  height: 844px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-2__instructionannotationcomponent {
  width: 278px;
  height: 32px;
  position: absolute;
  left: 54px;
  top: 787px;
}
.frame-2__instructionannotation {
  color: #bcbcbc;
  text-align: left;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2__settingsannotationcomponent {
  width: 96px;
  height: 24px;
  position: absolute;
  left: 146px;
  top: 58px;
}
.frame-2__settingsannotation {
  color: #ffffff;
  text-align: center;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
